<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1053741217645-bt9nh54amf5dvu6nnudbo00e0kcqpvvt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1053741217645-bt9nh54amf5dvu6nnudbo00e0kcqpvvt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1053741217645-eh6g590d04cgp5q5i0a05egkols7pr1p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAjU3U2lbGmLUO7Pnkq6gFwrQCq-rgXTEo</string>
	<key>GCM_SENDER_ID</key>
	<string>1053741217645</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.netscaledigital.lakeflagscrystal</string>
	<key>PROJECT_ID</key>
	<string>shallowscrystal</string>
	<key>STORAGE_BUCKET</key>
	<string>shallowscrystal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1053741217645:ios:5d01fa555fd0abf03b8c64</string>
</dict>
</plist>